<section ng-controller="NotesController" ng-init="find()">
  <div class="page-header">
    <h1>Notes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="note in notes" ui-sref="notes.view({noteId: note._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="note.created | date:'mediumDate'"></span>
        by
        <span ng-bind="note.user.displayName"></span>.
        <br/>mood: [<span ng-bind="note.mood"></span>]
      </small>
      <h4 class="list-group-item-heading" ><span ng-bind="note.title"></span></h4>
      <p class="list-group-item-text" ng-bind="note.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="notes.$resolved && !notes.length">
    No notes yet, why don't you <a ui-sref="notes.create">create one</a>?
  </div>
</section>
