<section ng-controller="NotesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="note.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == note.user._id">
    <a class="btn btn-primary" ui-sref="notes.edit({noteId: note._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="note.created | date:'mediumDate'"></span>
      by
      <span ng-bind="note.user.displayName"></span>
      <br/>mood: [<span ng-bind="note.mood"></span>]
    </em>
  </small>
  <p class="lead" ng-bind="note.content"></p>
</section>
